

body{font-size: 100%;
    background: linear-gradient(to right, #6765db 0%, #220852 100%);
}
.cabecalho{
    font-size: 50px;
    color: aliceblue;
    margin-top: 18px;
    margin-left: 450px;
    align-items: center;
}
.principal{
    font-family: "Noto Sans script=latin rev=3";
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: initial;
    font-size: 40px;
}
.livro{
    display: flex;
    flex: auto;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 0.4px solid rgb(3, 12, 29);
    color: rgb(39, 24, 6);
   margin-block-start: 10px;
   
}

.linha{
    margin: 50px;
    color: blanchedalmond;
}

.rodape{
    font-size: 20px;
    color: rgb(156, 156, 216);
    font-weight: 700;
    border-top: 0.4px solid rgb(3, 12, 29);
    border-bottom: 0.4px solid rgb(3, 12, 29);
    
}